@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media (max-width: 1140px) {
    font-size: 50%;
  }

  @media (max-width: 650px) {
    font-size: 37.5%;
  }

  // font-size: 1.5vh;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Helvetica, "Roboto Condensed", sans-serif;
  position: relative;
  color: $color-fox-dark;
  min-height: 100vh;
  font-weight: 400;
}