$color-primary-light: #86cbff;
$color-primary: #20a0ff;
$color-primary-dark: #006ab9;

$color-red-light: #f78989;
$color-red: #f56c6c;
$color-red-dark: #dd6161;

$color-green: rgb(86, 190, 100);

$color-grey-light: #eee;
$color-grey: #ccc;
$color-grey-dark: #555;

$color-gold: #fbdb89;
$color-fox: #f48982;
$color-fox-dark: #655a56;

$color-background-light: #f4f8ff;
$color-background-dark: rgb(62, 64, 73);

$box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .2);
$box-shadow-big: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
$box-shadow-inset-top: inset 0 0.3rem 0.2rem -0.2rem rgba(0, 0, 0, .1);

$width: 107rem;

$border-radius: 0.3rem;

$item-height: 4rem;

$box-size: 10rem;